@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: #202020;
  color: white;
  line-height: 1.5;
}

.content {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*Left side*/
.logo {
  width: 300px;
  margin-bottom: 50px;
}

.left {
  flex: 1;
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
}

/*input section*/
input {
  box-sizing: border-box;
  display: block;
  background: none;
  color: white;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: #707070 1px solid;
  height: 40px;
  width: 400px;
  margin: 5px auto 20px auto;
  padding: 4px 20px;
}

.forget .or {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.forget .or .bar {
  flex: auto;
}

.forget a:hover {
  text-decoration: underline;
}

/*buttns*/
.btn1 {
  background-color: orangered;
  color: white;
  width: 402px;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn1:hover {
  background-color: red;
  opacity: 0.9;
  font-weight: bold;
}

.btn2 {
  background: none;
  color: white;
  font-size: 18px;
  border: white 1px solid;
  cursor: pointer;
  padding: 10px;
  margin: 20px 0 150px 0;
  width: 250px;
  transition: all 0.5s;
}

.btn2:hover,
.btn3:hover {
  background-color: #505050;

  border-color: orangered;
}

/*footer section*/
footer.buttom a {
  color: red;
  text-decoration: underline white;
  padding: 5px;
}

footer.buttom a:hover {
  font-size: 19px;
}

footer.buttom p {
  margin-bottom: 10px;
}

/*right*/
.right {
  flex: 1;
  background: url(../images/login-bg.jpeg) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
  overflow: auto;
  background-size: cover;
}

.right h1 {
  font-size: 40px;
}

/*right section button*/
.btn3 {
  background: none;
  font-size: 18px;
  color: white;
  padding: 15px;
  width: 400px;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.5s;
  margin: 30px 20px 0 20px;
}

/*responsive*/
@media (min-width: 1200px) {
  .left {
    flex: 4;
  }
  .right {
    flex: 6;
  }
}

@media (max-width: 850px) {
  body {
  }
  .right {
    display: none;
  }
  .left {
    align-items: flex-start;
  }
  .logo {
    margin-top: 50px;
  }
  .btn2 {
    margin-bottom: 100px;
  }
  .forget .or {
    width: 100px;
    margin: auto;
  }
}
